@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suisse Intl */
@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-THIN.OTF') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-THINIT.OTF') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-LIGHT.OTF') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-LIGHTIT.OTF') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-REGULARIT.OTF') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-BOOK.OTF') format('opentype');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-BOOKIT.OTF') format('opentype');
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-MEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-MEDIUMIT.OTF') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-SEMIBOLD.OTF') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-SEMIBOLDIT.OTF') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-BOLDIT.OTF') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-BLACK.OTF') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/assets/fonts/SUISSEINTL-BLACKIT.OTF') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Hairline';
  src: url('/assets/fonts/SUISSEINTL-HAIRLINE.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Hairline';
  src: url('/assets/fonts/SUISSEINTL-HAIRLINEIT.OTF') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Suisse Intl', sans-serif;
}

.Toastify__toast-container {
  border-radius: 8px !important;
  pointer-events: none !important;
}

.Toastify__toast-container .Toastify__toast:first-child {
  margin-top: 50px !important;
}

.privacy-mode-toast {
  /* background: transparent !important; */
  /* box-shadow: none !important; */
  width: 337px !important;
  padding: 12px !important;
  border-radius: 8px !important;
  background: #0a0a0a !important;

  /* padding: 0 !important; */
  /* margin: 0 !important; */
  margin-top: 50px !important;
  pointer-events: auto !important;
}

.privacy-mode-toast .Toastify__toast-body {
  /* padding: 0 !important; */
  /* margin: 0 !important; */
}

.privacy-mode-toggle {
  pointer-events: auto !important;
}
